html {
    background: url('http://unsplash.it/1440/1024') center / cover;
}
html:before {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 137, 236, 0.72);
    top: 0;
    left: 0;
    display: block;
    content: '';
    z-index: -1;
}

.step {

    display: block;width: 330px;float: left;margin-right: 15px;}