html {
    background: url('http://unsplash.it/1440/1024') no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

html:before {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 137, 236, 0.72);
    top: 0;
    left: 0;
    display: block;
    content: '';
    z-index: -1;
}

.step {
    /*display: block;width: 330px;float: left;margin-right: 15px;*/
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
}

#app .bx-wrapper .bx-viewport {
    background: transparent;
    border: none;
    left: 0;
    box-shadow: none;
}

#app .card {
    overflow: visible;
}

#app .picker__box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#app .people_counter {
    display: flex;
    max-width: 240px;
    margin: 0 auto;
    padding: 24px 0;
}

#app .people_counter input {
    margin: 0 24px;
    font-size: 2em;
    font-weight: 700;
    border-bottom: 0;
    text-align: center;
}

.step_3 .card_action {
    text-align: center;
}

.budget {
    position: relative;
}

.budget input[type="number"] {
    font-size: 5em;
    line-height: 1em;
    border-bottom: none;
    height: auto;
    text-align: center;
    position: relative;
    color: #585858;
    margin-bottom: 0;
}

.budget:before {
    content: '$';
    position: absolute;
    left: 0;
    bottom: 15%;
    font-size: 3em;
    color: #6AA254;
}

#picker_app{
    height: 100vh;
}

.hotelPicker {

    position: absolute;;width: 100%;max-width: 420px;
    top: 50%;left: 50%;transform: translate(-50%, -80%);
    padding: 10px 10px;
    border-radius: 3px;background: white;box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);}

.hotelPicker .hotel.card {

    margin: 0;
    box-shadow: none;
    border-radius: 2px;
}

.hotelPicker .hotel .image-wrap {

    position: relative;
    overflow: hidden;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.hotelPicker .hotel .image-wrap:after {
    content: '';
    display: block;
    position: relative;
    padding-top: 75%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.4) 100%);
}

.hotelPicker .hotel .image-wrap img {
    width: 130%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    max-width: none;
}

.hotelPicker .hotel .info {
    font-size: 1.5em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 12px;
    color: white;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.hotelPicker .hotel .meta_top {

}

.hotelPicker .hotel .meta_top .name {

    line-height: 1em;
    font-size: 1.3em;
}

.hotelPicker .hotel .meta_top .area {

    font-weight: 100;
}

.hotelPicker .hotel .meta_bottom {

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.hotelPicker .hotel .meta_bottom .price {

    font-weight: 800;
}

.hotelPicker .hotel .meta_bottom .rating {

}

.hotelPicker .choices {

    display: flex;
    justify-content: space-between;
    max-width: 420px;
    background: rgba(255, 255, 255, 0.88);
    padding: 12px 0px 4px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    z-index: 2;position: relative;}

.hotelPicker .choices .no-button {

    flex: 1 1 50%;
    background: #F77254;
    text-align: center;
    padding: 16px 8px;
    font-size: 1.2em;
    line-height: 1em;
    margin-right: 4px;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
}

.hotelPicker .choices .no-button:hover {

}

.hotelPicker .choices .yes-button {

    display: block;
    flex: 1 1 50%;
    background: #1ADF7F;
    text-align: center;
    padding: 16px 8px;
    font-size: 1.2em;
    margin-left: 4px;
    line-height: 1em;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
}

.hotelPicker .choices .yes-button:hover {

}

.rotate-left {
    transform: rotate(30deg) scale(0.8);
    transition: 1s;
    margin-left: 400px;
    cursor: e-resize;
    opacity: 0;
}
.rotate-right {
    transform: rotate(-30deg) scale(0.8);
    transition: 1s;
    opacity: 0;
    margin-left: -400px;
    cursor: w-resize;
}

#app {
    max-width: 420px;
    margin: 0 auto;
    width: 100%;
}

.startagain {
    max-width: 420px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -20%);
    bottom: 0;
}

.startagain a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    padding: 9px;
    border-radius: 4px;
}

.startagain img {
    width: 40px;
    margin-right: 22px;
}

.startagain h3 {
    color: white;
    font-size: 2em;
}